<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>提现问题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../styles/css/mui.min.css">
    <link rel="stylesheet" href="../styles/css/get-cash-question-list.css?v=lz201707151882">
</head>

<body>
    <div class="mui-content">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">1、提现什么时候到账？</a>
                <div class="mui-collapse-content">
                    <p>用户申请提现之后，工作人员每天进行审核，审核通过之后交由银行处理，一般会在1-3个工作日内到账。</p>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">2、提现是否收取手续费？</a>
                <div class="mui-collapse-content">
                    <p>否，目前所有手续费均由法义平台承担，法义用户不需要承担提现手续费。</p>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">3、提现有最低金额限制吗？</a>
                <div class="mui-collapse-content">
                    <p>账户金额大于等于100元时，可以进行提现，不限次数</p>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">4、如何查询提现是否到账？</a>
                <div class="mui-collapse-content">
                    <p>提现成功后平台会发送短信通知，也可以通过绑定的银行进行查询。</p>
                </div>
            </li>
        </ul>
    </div>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/common.js"></script>
<script src="../libs/mui.min.js"></script>
<script src="../libs/mui.pullToRefresh.js"></script>
<script src="../libs/mui.pullToRefresh.material.js"></script>
<script src="../scripts/get-cash-question-list.js?v=lz201707151893"></script>
<script src="https://hm.baidu.com/hm.js?d38acaa925a21848e070a28eeca2b21c"></script>
</body>
</html>