<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>全部标签</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../styles/css/null-page.css?v=lz201707151879">
    <link rel="stylesheet" href="../styles/css/lawyer-evaluate-tab-all.css?v=lz201707151879">
    <script src="../libs/reset-min.js"></script>
    <script src="../libs/base-min.js"></script>
</head>
<body>
    <div id="pageContainer">
        <div class="page-box Thread" v-show="pageObj.detailPage">
            <div class="evaluate-tab-box clearfix">
            <span class="evaluate-tab Thread" v-for="(item,index) in data">
                <em v-html="item.name"></em>
                <b v-html="item.count"></b>
            </span>
            </div>
        </div>
        <div id="defaultFix" class="default-fix" v-show="pageObj.defalutFix"></div>
    </div>

</body>
</html>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/fastclick.min.js"></script>
<script src="../libs/common.js"></script>
<script src="../libs/vue.min.js"></script>
<script src="../plugins/layer.mobile-v2.0/layer_mobile/layer.js"></script>
<script src="../scripts/lawyer-evaluate-tab-all.js?v=lz201707151893"></script>